<head>
  <title>Youth Journal | New Account</title>
</head>

<div class="container marg-top-2 marg-bot-2">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <h2>Sign up</h2>

      <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field special-label">
        <%= f.email_field :email, wrapper: { class: 'marg-bot-0' }, label_class: 'hasVal active', autofocus: true, required: true %>
      </div>

      <div class="field special-label">
        <%= f.text_field :name, wrapper: { class: 'marg-bot-0' }, required: true %>
      </div>

      <div class="field special-label">
        <%= f.text_area :bio, wrapper: { class: 'marg-bot-0' }, required: true, rows: 1 %>
      </div>

      <div class="row marg-bot-1">
        <div class="col-6">
          <div class="field special-label">
            <%= f.password_field :password, autocomplete: "off", required: true %>
          </div>
        </div>
        <div class="col-6">
          <div class="field special-label">
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
        </div>
      </div>
      <%= f.file_field :image, label: 'Image: ', class: 'marg-left-1 marg-bot-1' %>


      <%= button_tag(type: 'submit', class: "btn-black") do %>
      Sign up
      <% end %>
      <% end %>

      <div class="space-1"></div>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
