<div class="light-gray full-height">
  <div class="space-2"></div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <h2 class="marg-bot-2 special">
          Meet our contributors
        </h2>

        <div class="row">
          <% @admins.each do |a| %>
            <div class="col-12 col-md-6 marg-bot-1">
              <%= link_to a do %>
                <div class="card">
                  <div class="card-block admin">
                    <% if (not a.image_file_name.nil? and not a.image.nil?) %>
                      <img class="admin-img" src="<%= a.image.url(:large) %>">
                    <% else %>
                      <div class="admin-no-img"></div>
                    <% end %>

                    <div class="admin-content">
                      <h3>
                        <%= a.name %>
                      </h3>
                      <p class="text-muted bold marg-bot-05">
                        <%= a.role %>
                      </p>
                      <ul class="horizontal admin-icons">
                        <li>
                          <a href="mailto:<%= a.email %>">
                            <i class="fa fa-envelope"></i>
                          </a>
                        </li>
                        <% if a.facebook and a.facebook.length > 0 %>
                          <li>
                            <a href="<%= a.facebook %>">
                              <i class="fa fa-facebook"></i>
                            </a>
                          </li>
                        <% end %>
                        <% if a.twitter and a.twitter.length > 0 %>
                          <li>
                            <a href="<%= a.twitter %>">
                              <i class="fa fa-twitter"></i>
                            </a>
                          </li>
                        <% end %>
                        <% if a.linkedin and a.linkedin.length > 0 %>
                          <li>
                            <a href="<%= a.linkedin %>">
                              <i class="fa fa-linkedin"></i>
                            </a>
                          </li>
                        <% end %>
                        <% if a.github and a.github.length > 0 %>
                          <li>
                            <a href="<%= a.github %>">
                              <i class="fa fa-github"></i>
                            </a>
                          </li>
                        <% end %>
                        <% if a.website and a.website.length > 0 %>
                          <li>
                            <a href="<%= a.website %>">
                              <i class="fa fa-link"></i>
                            </a>
                          </li>
                        <% end %>
                        <% if a.instagram and a.instagram.length > 0 %>
                          <li>
                            <a href="<%= a.instagram %>">
                              <i class="fa fa-instagram"></i>
                            </a>
                          </li>
                        <% end %>
                      </ul>
                    </div>
                    <!-- close content -->
                  </div>
                  <!-- closr card-body -->
                </div>
                <!-- close card -->
              <% end %>
              <!-- close link to admin -->
            </div>
            <!-- close col -->
          <% end %>
          <!-- close loop over admins -->
        </div>
        <!-- close row -->

        <div class="space-2"></div>
        <%= link_to 'Back to home', root_path, class: 'btn-black' %>
        <div class="space-2"></div>
      </div>
      <!-- close col -->
    </div>
    <!-- close row -->
  </div>
  <!-- close container -->

  <div class="space-4"></div>
</div>
