<% if @admin.present? %>
  <head>
    <% title 'The Metric | ' + (@admin.name ? @admin.name : 'Admin') %>
  </head>

  <div class="full-height light-light-gray">
    <div class="space-2"></div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
          <%= render @admin, showBio: true %>

          <% if current_admin.present? %>
            <%= render 'admins/admin-buttons' %>
          <% end %>

          <section class="section">
            <% if @articles and @articles.length > 0 %>
              <p class="section-title">
                Articles
              </p>

              <% if current_admin %>
                <% @articles.each do |a| %>
                  <%= link_to a do %>
                    <%= render a %>
                  <% end %>
                <% end %>
              <% else %>
                <% @admin.articles.where(published: true).each do |a| %>
                  <%= link_to a do %>
                    <%= render a %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </section>

          <div class="center">
            <%= link_to 'More about The Metric', about_path, class: 'btn-black shade-3 hover' %>
          </div>
        </div>
      </div>
    </div>
    <div class="space-2"></div>
  </div>
<% else %>

  <%= render 'admins/not-found' %>

<% end %>
<!-- close admin logic -->
