<% if @admin %>
  <head>
    <% title 'Youth Journal | ' + (@admin.name ? @admin.name : 'Admin') %>
  </head>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <h1>
          <%= @admin.name %>
        </h1>

        <p>
          <%= @admin.email %>
        </p>

        <p>
          <%= @admin.bio %>
        </p>
      </div>
    </div>
  </div>
<% else %>
  <head>
    <% title 'Youth Journal | Admin not found' %>
  </head>

  <div class="full-height light-gray">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
          <div class="space-4"></div>
          <div class="three pad-2">
            <h2 class="marg-bot-1">Admin not found, oh man!</h2>
            <p>
              Seems like this the admin that you are looking for does not exist. If you think this is a mistake, please <%= link_to 'contact us', new_contact_path %> with a description of what happened.
            </p>
            <div class="space-2"></div>
            <%= link_to 'Back to all admins', admins_path, class: 'btn-black' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<!-- close admin logic -->
