<div class="space-1"></div>

<%= bootstrap_form_for @article, html: { multipart: true } do |f| %>

<% if @article.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@article.errors.count, "error") %>
      prohibited this article from being saved:
    </h2>
    <ul>
      <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if @authors %>
  <div class="outline">
    <div class="field special-label alwaysHasVal marg-bot-1">
      <%= f.select :admin, @authors, { label: "Article author" } %>
    </div>
  </div>
<% end %>

<!-- title -->
<%= f.text_field :title, hide_label: true, placeholder: "Title", class: 'title no-border', wrapper: { class: 'marg-bot-0' }, required: true, autofocus: true %>

<!-- subtitle -->
<%= f.text_area :subtitle, rows: 1, hide_label: true, placeholder: "Quickly summarize your article...", class: 'serif subtitle no-border', required: true %>

<div class="space-1"></div>

<%= f.file_field :image, label: 'Cover image: ', class: 'marg-left-05' %>
<p class="text-muted marg-bot-1">Accepted formats: .PNG, .JPEG</p>

<!-- caption -->
<%= f.text_area :caption, rows: 1, hide_label: true, placeholder: "Caption the cover image...", class: 'serif text', required: false %>

<div class="space-1"></div>

<!-- body -->
<%= f.trix_editor :text, class: 'serif bigger text', required: true %>

<div class="space-1"></div>
<div class="space-05"></div>

<div class="field special-label alwaysHasVal marg-bot-1">
  <%= f.select :region, [['None', :no_region], ['North America', :north_america], ['Latin America', :latin_america], ['Europe', :europe], ['Middle East & North Africa', :middle_east_and_north_africa], ['Africa', :africa], ['Asia & Oceania', :asia_and_oceania]]%>
</div>

<div class="space-05"></div>

<div class="field special-label alwaysHasVal marg-bot-1">
  <%= f.select :topic, [['None', :no_topic], ['Economics & Finance', :economics_and_finance], ['Security', :security], ['Politics', :politics], ['Science & Innovation', :science_and_innovation], ['Culture', :culture], ['Opinion', :opinion]]%>
</div>

<div class="space-05"></div>

<div class="field special-label">
  <%= f.text_field :tag_list, value: @article.tag_list.join(", "), label: "Tags (separated by commas)" %>
</div>

<div class="space-1"></div>

<%= f.hidden_field :published, value: (true and @article.published), class: 'no-display' %>
<%= f.submit "Submit Article", class: "btn-blue shade-3 hover btn-big disabled", id: "submit" %>
<div class="space-1"></div>
<p class="text-muted">
  To display images, surround a link to the image in [square brackets]. If using a local file, upload it to some external service with a stable link.
</p>
<p class="text-muted">
  To add a caption or source to your image, append commas to the link to your image follows by the text you want. Each new comma adds a new line of text:
  <br><br>
  [link_to_image]
  <br>
  [link_to_image,caption]
  <br>
  [link_to_image,source,caption]
  <br>
  [link_to_image,caption,source,etc...].
</p>
<p class="text-muted">
  Make sure that the link_to_image is literally a link to the image (it should be styled in blue).
</p>
<% end %>
