<head>
  <% title 'The Metric | Articles' %>
  <% description "List of all articles." %>
  <% keywords "articles,the,metric" %>
</head>

<div class="light-gray full-height">
  <div class="space-2"></div>
  <div class="container serif">
    <% if params[:search] %>
      <p class="section-title">Search for "<%= params[:search] %>"</h2>
    <% elsif params[:tag] %>
      <p class="section-title">Tagged with "<%= params[:tag] %>"</h2>
    <% elsif params[:topic] %>
      <% if params[:topic] == 'no_topic' %>
        <p class="section-title">Topicless Articles</h2>
      <% else %>
        <p class="section-title"><%= @topic %></h2>
      <% end %>
    <% elsif params[:region] %>
      <% if params[:region] == 'no_region' %>
        <p class="section-title">Regionless Articles</h2>
      <% else %>
        <p class="section-title"><%= @region %></h2>
      <% end %>
    <% end %>

    <% if @articles.length > 0 %>
      <%= render 'shared/articles', articles: @articles %>
    <% else %>
      <!-- if there are no articles -->
      <div class="white pad-1 shade-1 hover">
        <h3 class="sans">Check back soon!</h3>
        <p class="sans marg-bot-0">
          There are no articles in the specified parameters at this time, but check back soon—we’re working hard everyday to produce new content.
        </p>
      </div>
    <% end %>
    <!-- closing check for article length -->

    <div class="space-1"></div>

    <!-- if there is a tag -->
    <div class="center">
      <% if params[:tag] %>
        <%= link_to articles_path, class: 'btn btn-dark white-text shade-3 hover' do %>
          &larr; &nbsp;Back to all articles
        <% end %>
      <% else %>
        <%= link_to root_path, class: 'btn btn-black white-text shade-3 hover' do %>
          &larr; &nbsp;Back to home
        <% end %>
      <% end %>
    </div>

    <div class="space-2"></div>
  </div>
</div>
