<head>
  <% title 'The Metric | Articles' %>
  <% description "List of all articles." %>
  <% keywords "articles,the,metric" %>
</head>

<div class="light-gray full-height">
  <div class="space-2"></div>
  <div class="container serif">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <% if params[:tag] %>
          <h2 class="sans">Listing articles tagged with "<%=params[:tag]%>"</h2>
        <% end %>

        <% if @articles.length > 0 %>
          <div class="card-columns articles">
            <% @articles.each do |article| %>
              <%= link_to article do %>
                <div class="card">
                  <%= render article %>
                </div>
              <% end %>
            <% end %>
            <!-- closing loop over articles -->
          </div>
        <% else %>
          <!-- if there are no articles -->
          <h2 class="sans">Oops!</h2>
          <p class="sans">There are no articles at this time, but check back soon--we're working hard to produce some great new content.</p>
        <% end %>
        <!-- closing check for article length -->

        <div class="space-2"></div>

        <!-- if there is a tag -->
        <% if params[:tag] %>
          <%= link_to articles_path do %>
            <button class="btn btn-outline-primary">
              <i class="fa fa-chevron-left" aria-hidden="true"></i> &nbsp;Back to all articles
            </button>
          <% end %>
        <% else %>
          <%= link_to root_path do %>
            <button class="btn-black">
              <i class="fa fa-chevron-left" aria-hidden="true"></i> &nbsp;Back to home
            </button>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="space-4"></div>
</div>
