<% if @article %>
  <head>
    <% title @article.title %>
    <% description @article.subtitle %>
    <% keywords "#{@article.tag_list.join(',')},#{@article.title.gsub(/\s/,'')},the,metric,news" %>
    <% image "#{image_url @article.image}" unless @article.image.nil? %>
  </head>

  <div class="container-fluid serif">
    <div class="row">
      <div class="col-12 col-lg-8 pad-0 col-xl-9">
        <div class="pad-1-special">
          <% if current_admin and not @article.published %>
            <p class="text-muted special pad-1 light-gray">
              THIS ARTICLE IS NOT PUBLISHED
            </p>
          <% elsif current_admin and @article.featured %>
            <p class="text-muted special pad-1 light-gray">
              THIS ARTICLE IS FEATURED
            </p>
          <% end %>

          <h1 class="title sans">
            <%= @article.title %>
          </h1>

          <h2 class="subtitle sans">
            <%= @article.subtitle %>
          </h2>

          <p class="time inline sans">
            <% if @article.published_at %>
              <%= "Published " + time_ago_in_words(@article.published_at) %> ago
            <% else %>
              <%= "Created " + time_ago_in_words(@article.created_at) %> ago
            <% end %>
            <% r = @article.regionText %>
            <% t = @article.topicText %>

            <% if r and r.length > 0 %>
              in <%= link_to region_path(@article.region), class: 'inline black-text special region' do %>
                <%= r %>
            <% end %>

            <% if t and t.length > 0 %>
                and <%= link_to topic_path(@article.topic), class: 'inline black-text special region' do %>
                  <%= t %>
                <% end %>
              <% end %>
            <% elsif t and t.length > 0 %>
              in <%= link_to topic_path(@article.topic), class: 'inline black-text special region' do %>
                <%= t %>
              <% end %>
            <% end %>
          </p>

          <div class="space-0"></div>

          <% if @article.tag_list %>
            <p class="inline tags">
              <% @article.tag_list.each do |t| %>
                <%= link_to tag_path(t) do %>
                  <span class="tag"><%= t %></span>
                <% end %>
              <% end %>
            </p>
          <% end %>

          <div class="space-0"></div>

          <div class="interact">
            <% if @author %>
              <div class="author inline">
                <% if not @author.image.nil? and not @author.image_file_name.nil? %>
                  <%= link_to @author do %>
                    <%= image_tag @author.image.url(:medium) %>
                  <% end %>
                <% end %>
                <%= link_to @author do %>
                  <p>
                    <strong style="font-size: 1.2rem">
                      <%= @author.name %>
                    </strong>
                    <br>
                    <i><%= @author.location %></i>
                  </p>
                <% end %>
              </div>
            <% end %>

            <ul class="article-social">
              <p class="inline special text-muted" style="font-size: 1.2rem">Share &nbsp;</p>
              <li>
                <a href="http://www.facebook.com/sharer.php?u=<%=@encoded + '&amp;src=sdkpreparse'%>" target="_blank"><i class="fa fa-facebook fa-lg"><span class="share-circle"></span></i></a>
              </li>
              <li>
                <a href="https://twitter.com/share?url=<%=@encoded%>" target="_blank"><i class="fa fa-twitter fa-lg"><span class="share-circle"></span></i></a>
              </li>
              <li>
                <a href="mailto:?&subject=<%=@article.title%>&body=<%=@url%>"><i class="fa fa-envelope fa-lg"><span class="share-circle"></span></i></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/shareArticle?mini=true&url=<%=@url%>&title=<%=@title%>&summary=<%=@subtitle%>&source=Youth%20Journal" target="_blank"><i class="fa fa-linkedin fa-lg"><span class="share-circle"></span></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="line-0"></div>

        <% if not @article.image.nil? and not @article.image_file_name.nil? %>
          <%= image_tag @article.image.url(:large), class: 'img-fluid full-width' %>
        <% end %>

        <div class="col-12 col-md-10 offset-md-1">
          <% if @article.caption.present? %>
            <div class="space-05"></div>
            <% captions = @article.caption.split("\n") %>
            <% captions.each do |c| %>
              <p class="text-muted italic caption">
                <%= c %>
              </p>
            <% end %>
          <% end %>

          <div class="space-1"></div>

          <div class="article-wrapper">
            <% sections = @article.text.split(/\[(.*?)\]/) %>
            <% sections.each_with_index do |s, index| %>
              <% if index % 2 != 0 and s and s.length > 2 %>
                <% image_components = (s[1, s.length - 1]).split(",") %>
                <% link = image_components[0].split("\"")[1] %>
                <div class="image-wrapper">
                  <img src="<%= link %>" class="img-responsive">
                </div>
                <% image_components.each_with_index do |c, i| %>
                  <% if i != 0 %>
                    <p class="text-muted italic caption">
                      <%= c %>
                    </p>
                  <% end %>
                <% end %>
              <% else %>
                <%= s.html_safe %>
              <% end %>
            <% end %>
          </div>

          <% if current_admin %>
            <% if @article.admin.nil? or (current_admin.id == @article.admin.id) or (current_admin and current_admin.super) %>
            <div class="space-1"></div>
            <div class="admin-buttons">
              <% if current_admin.super or current_admin.id == 1 %>
                <% if @article.published %>
                  <%= link_to 'Unpublish article', unpublish_path(@article), method: :patch, confirm: 'Unpublish article, are you sure? The article will no longer be visible to all site users, although it can always be re-published.', class: 'btn btn-sm btn-info sans white-text' %>
                  <% if @article.featured %>
                    <%= link_to 'Unfeature article', unfeature_path(@article), method: :patch, confirm: 'Unfeature article, are you sure? The article will no longer be the first thing to come up on the front page.', class: 'btn btn-sm btn-info sans white-text' %>
                  <% else %>
                    <%= link_to 'Feature article', feature_path(@article), method: :patch, confirm: 'Feature article, are you sure? The article will be the first thing to come up on the front page.', class: 'btn btn-sm btn-info sans white-text' %>
                  <% end %>
                <% else %>
                  <%= link_to 'Publish article', publish_path(@article), method: :patch, data: { confirm: 'Publish article, are you sure? The article will be visible to all site users.' }, class: 'btn btn-sm btn-info sans white-text' %>
                <% end %>
                <%= link_to article_path(@article),
                  method: :delete,
                  data: { confirm: 'Are you sure? The article will be permanantly deleted.' } do %>
                    <button class="btn btn-sm btn-danger white-text">Delete</button>
                <% end %>
              <% elsif not @article.published and (current_admin.super or current_admin.id == @article.admin.id) %>
                <%= link_to article_path(@article),
                  method: :delete,
                  data: { confirm: 'Are you sure? The article will be permanantly deleted.' } do %>
                    <button class="btn btn-sm btn-danger white-text">Delete</button>
                <% end %>
              <% end %>

              <%= link_to edit_article_path(@article) do %>
              <button class="btn btn-sm btn-primary">Edit</button>
              <% end %>
            </div>
            <% end %>
          <% end %>

          <div class="space-4"></div>
        </div>
      </div>
      <!-- close col around article -->


      <div class="col-12 col-lg-4 col-xl-3 hidden-md-down light-light-gray" id="wrapper">
        <% if @recommended and @recommended.length > 0 %>
          <div class="recommended">
            <div class="space-1"></div>
            <p class="text-muted bold sans">
              RECOMMENDED FOR YOU
            </p>

            <% @recommended.each do |article| %>
              <%= link_to article do %>
                <div class="card article marg-bot-1">
                  <% if not article.image.nil? and not article.image_file_name.nil? %>
                    <div class="card-img-top background-image" style="background-image: URL(<%= article.image.url(:large) %>)">
                      <% if article.opinion? %>
                        <div class="opinion special">
                          OPINION
                        </div>
                      <% end %>
                      <h1 class="sans title smaller up">
                        <span class="underline"><%= article.title %></span>
                      </h1>
                    </div>
                  <% end %>

                  <!-- article title and subtitle -->
                  <div class="card-block">
                    <% if (article.image.nil? or article.image_file_name.nil?) and article.opinion? %>
                      <div class="opinion absolute special">
                        OPINION
                      </div>
                      <div class="space-1"></div>
                      <div class="space-05"></div>
                    <% end %>

                    <% if current_admin and not article.published %>
                      <div class="light-gray pad-1 special text-muted marg-bot-1">
                        ARTICLE NOT PUBLISHED
                      </div>
                    <% elsif current_admin and article.featured %>
                      <div class="light-gray pad-1 special text-muted marg-bot-1">
                        ARTICLE FEATURED
                      </div>
                    <% end %>

                    <% if article.image.nil? or article.image_file_name.nil? %>
                      <h1 class="sans title smaller"><span class="underline"><%= article.title %></span></h1>
                    <% end %>
                    <h2 class="subtitle smaller sans"><%= article.subtitle %></h2>
                    <div class="space-0"></div>

                    <% r = article.regionText %>
                    <% if r and r.length > 0 %>
                      <%= link_to region_path(article.region), class: "full-width region special marg-bot-0 black-text relative" do %>
                        <%= r %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
        <div class="space-1"></div>
      </div>

    </div>
    <!-- close row -->
  </div>
  <!-- close container around article -->
<% else %>
  <head>
    <% title 'The Metric | Article Not Found' %>
    <% description "This article does not exist." %>
  </head>

  <div class="container marg-top-2">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <h2 class="marg-bot-1">Article not found, oh man!</h2>
        <p>
          Seems like this the article that you are looking for does not exist. If you think this is a mistake, please <%= link_to 'contact us', new_contact_path %> with a description of what happened.
        </p>
        <div class="space-2"></div>
        <%= link_to 'Back to all articles', articles_path, class: 'btn-white shade-3 hover' %>
        <div class="space-4"></div>
      </div>
    </div>
  </div>
<% end %>

<div class="light-gray" id="comments">
  <div class="space-4"></div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1">
        <div class="row">
          <% if @previous %>
            <div class="col-12 col-md-6">
              <%= link_to @previous do %>
                <div class="other white marg-bot-1">
                  <% if not @previous.image.nil? and not @previous.image_file_name.nil? %>
                    <%= image_tag @previous.image.url(:large), class: 'img-fluid full-width' %>
                  <% end %>
                  <div class="pad-1">
                    <p class="text-light bold">
                      PREVIOUS ARTICLE
                    </p>
                    <h2 class="sans title smaller">
                      <%= @previous.title %>
                    </h2>
                    <h3 class="sans subtitle smaller">
                      <%= @previous.subtitle %>
                    </h3>
                  </div>
                </div>
              <% end %>
            </div>
          <% else %>
            <div class="col-12 col-md-6">
              <%= link_to articles_path do %>
                <div class="other white marg-bot-1">
                  <div class="pad-1">
                    <p class="description">
                      Keep reading
                    </p>
                    <h2 class="sans title smaller">
                      Back to all articles
                    </h2>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
          <% if @next %>
            <div class="col-12 col-md-6">
              <%= link_to @next do %>
                <div class="other white marg-bot-1">
                  <% if not @next.image.nil? and not @next.image_file_name.nil? %>
                    <%= image_tag @next.image.url(:large), class: 'img-fluid full-width' %>
                  <% end %>
                  <div class="pad-1">
                    <p class="text-light bold">
                      NEXT ARTICLE
                    </p>
                    <h2 class="sans title smaller">
                      <%= @next.title %>
                    </h2>
                    <h3 class="sans subtitle smaller">
                      <%= @next.subtitle %>
                    </h3>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <!-- closing row around other articles -->
      </div>
      <!-- close col -->
    </div>
    <!-- close row -->

    <div class="space-2"></div>

    <% if @article %>
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
          <!-- DISQUS -->
          <div id="disqus_thread"></div>
          <script>
            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

            var disqus_config = function () {
            this.page.url = '<%= request.original_url %>';  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = '<%= @article.slug %>'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };

            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://chasm-1.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
      </div>
    <% end %>
    <!-- end logic checking for article for disqus -->
  </div>
  <!-- close container -->

  <div class="space-4"></div>
</div>
<!-- close gray -->
