<% if @article %>
  <head>
    <% title @article.title %>
    <% description @article.subtitle %>
    <% keywords "#{@article.tag_list.join(',')},#{@article.title.gsub(/\s/,'')},the,metric,themetric,news" %>
    <% image "#{image_url @article.image}" unless @article.image.nil? %>
  </head>

  <div class="container-fluid serif">
    <div class="row">
      <div class="col-12 offset-lg-2 col-lg-8">
        <div class="article-header">
          <% if current_admin and not @article.published %>
            <p class="text-muted special pad-1 light-gray">
              THIS ARTICLE IS NOT PUBLISHED
            </p>
          <% elsif current_admin and @article.featured %>
            <p class="text-muted special pad-1 light-gray">
              THIS ARTICLE IS FEATURED
            </p>
          <% end %>

          <h1 class="title serif">
            <%= @article.title %>
          </h1>

          <h2 class="subtitle serif">
            <%= @article.subtitle %>
          </h2>

          <p class="time inline sans">
            <% if @article.published_at %>
              <%= "Published " + time_ago_in_words(@article.published_at) %> ago
            <% else %>
              <%= "Created " + time_ago_in_words(@article.created_at) %> ago
            <% end %>
            <% r = @article.regionText %>
            <% t = @article.topicText %>

            <% if r and r.length > 0 %>
              in <%= link_to region_path(@article.region), class: 'inline black-text special region' do %>
                <%= r %>
            <% end %>

            <% if t and t.length > 0 %>
                and <%= link_to topic_path(@article.topic), class: 'inline black-text special region' do %>
                  <%= t %>
                <% end %>
              <% end %>
            <% elsif t and t.length > 0 %>
              in <%= link_to topic_path(@article.topic), class: 'inline black-text special region' do %>
                <%= t %>
              <% end %>
            <% end %>
          </p>

          <div class="space-0"></div>

          <% if @article.tag_list %>
            <p class="inline tags">
              <% @article.tag_list.each do |t| %>
                <%= link_to tag_path(t) do %>
                  <span class="tag"><%= t %></span>
                <% end %>
              <% end %>
            </p>
          <% end %>

          <div class="space-0"></div>

          <div class="interact">
            <% if @author %>
              <div class="author inline">
                <% if not @author.image.nil? and not @author.image_file_name.nil? %>
                  <%= link_to @author do %>
                    <%= image_tag @author.image.url(:medium) %>
                  <% end %>
                <% end %>
                <%= link_to @author do %>
                  <p>
                    <strong style="font-size: 1.2rem">
                      <%= @author.name %>
                    </strong>
                    <br>
                    <i><%= @author.location %></i>
                  </p>
                <% end %>
              </div>
            <% end %>

            <ul class="article-social">
              <p class="inline special text-muted" style="font-size: 1.2rem">Share &nbsp;</p>
              <li>
                <a href="http://www.facebook.com/sharer.php?u=<%=@encoded + '&amp;src=sdkpreparse'%>" target="_blank"><i class="fa fa-facebook fa-lg"><span class="share-circle"></span></i></a>
              </li>
              <li>
                <a href="https://twitter.com/share?url=<%=@encoded%>" target="_blank"><i class="fa fa-twitter fa-lg"><span class="share-circle"></span></i></a>
              </li>
              <li>
                <a href="mailto:?&subject=<%=@article.title%>&body=<%=@url%>"><i class="fa fa-envelope fa-lg"><span class="share-circle"></span></i></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/shareArticle?mini=true&url=<%=@url%>&title=<%=@title%>&summary=<%=@subtitle%>&source=Youth%20Journal" target="_blank"><i class="fa fa-linkedin fa-lg"><span class="share-circle"></span></i></a>
              </li>
            </ul>
          </div>
        </div>

        <% if @article.image.nil? or @article.image_file_name.nil? %>
          <div class="line-0"></div>
        <% end %>
      </div>

        <% if not @article.image.nil? and not @article.image_file_name.nil? %>
          <div class="col-12 col-lg-10 offset-lg-1">
            <%= image_tag @article.image.url(:large), class: 'img-fluid full-width' %>
          </div>
        <% end %>

      <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <% if @article.caption.present? %>
          <div class="space-05"></div>
          <% captions = @article.caption.split("\n") %>
          <% captions.each do |c| %>
            <p class="text-muted italic caption">
              <%= c %>
            </p>
          <% end %>
        <% end %>

        <div class="space-1"></div>

        <div class="article-wrapper">
          <% sections = @article.text.split(/\[(.*?)\]/) %>
          <% sections.each_with_index do |s, index| %>
            <% if index % 2 != 0 and s and s.length > 2 %>
              <% image_components = (s[1, s.length - 1]).split(",") %>
              <% link = image_components[0].split("\"")[1] %>
              <div class="image-wrapper">
                <img src="<%= link %>" class="img-responsive">
              </div>
              <% image_components.each_with_index do |c, i| %>
                <% if i != 0 %>
                  <p class="text-muted italic caption">
                    <%= c %>
                  </p>
                <% end %>
              <% end %>
            <% else %>
              <%= s.html_safe %>
            <% end %>
          <% end %>
        </div>

        <%= render 'shared/articles/adminoptions', article: @article %>

        <div class="space-4"></div>
      </div>
      <!-- close col around article -->
    </div>
    <!-- close row -->
  </div>
  <!-- close container around article -->
<% else %>
  <%= render 'shared/articles/notfound' %>
<% end %>

<div class="light-gray section">
  <div class="space-1"></div>
  <div class="container">
    <p class="section-title">
      Recent Posts
    </p>
    <%= render 'shared/articles', articles: [@previous, @next] %>
  </div>
</div>

<% if @article %>
  <%= render 'shared/articles/comments', article: @article %>
<% end %>

<div class="light-gray section">
  <div class="container">
    <p class="section-title">
      Recommended for You
    </p>
    <%= render 'shared/articles', articles: @recommended %>
  </div>

  <div class="space-2"></div>

  <div class="center">
    <%= link_to root_path, class: 'btn-white shade-3 hover' do %>
      Back to home
    <% end %>
  </div>

  <div class="space-2"></div>
</div>
