<!-- footer -->
<footer id="footer" class="black pad-2">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <h1 class="white-text special marg-bot-1">
        The Metric
      </h1>
      <p class="white-text">
        This is some text about the The Metric and what it sets out to accomplish.
      </p>
    </div>

    <div class="col-12 offset-lg-1 col-lg-3">
      <h4 class="white-text marg-bot-1">Navigation</h4>
      <ul class="navigation">
        <li>
          <a href="<%= root_path %>">Home</a>
        </li>
        <li>
          <a href="<%= about_path %>">About</a>
        </li>
        <li>
          <a href="<%= articles_path %>">Articles</a>
        </li>
        <li>
          <a href="<%= new_contact_path %>">Contact us</a>
        </li>
        <li>
          <a href="<%= admins_path %>">Admins</a>
        </li>
        <% if current_admin %>
          <li>
            <%= link_to 'Sign out', destroy_admin_session_path, method: :delete %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="col-12 col-lg-4">
      <h4 class="white-text marg-bot-1">Keep in touch</h4>
      <ul class="social">
        <li class="icon">
          <a href="" title="Facebook">
            <i class="fa fa-lg fa-facebook" aria-hidden="true"></i>
          </a>
        </li>

        <li class="icon">
          <a href="" title="Twitter">
            <i class="fa fa-lg fa-twitter" aria-hidden="true"></i>
          </a>
        </li>

        <li class="icon">
          <a href="" title="Email us">
            <i class="fa fa-lg fa-envelope" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>

    <div class="col-12 col-md-6 col-lg-4 marg-top-1 marg-bot-1">
      <p class="white-text">
        Website by
        <a href="http://cameroncabo.com/" target="_blank">Cameron Cabo</a>
        &copy; 2017, all rights reserved. Made with &hearts; in Los Angeles, Philadelphia, and around the world.
      </p>
    </div>
  </div>
</footer>
