<div class="fixed full-width front">
  <div class="alert-spacer hidden"></div>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded top white navbar-expand-lg">
      <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navToggle" aria-controls="navToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar top-bar"></span>
          <span class="icon-bar middle-bar"></span>
          <span class="icon-bar bottom-bar"></span>
          <span class="sr-only" Toggle navigation></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">
        <%= image_tag 'logo.svg' %>
      </a>

      <div class="collapse navbar-collapse" id="navToggle">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
          <li class="nav-item">
            <a href="https://www.facebook.com/TheMetricHQ/" class="nav-link cursor inline">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/TheMetricHQ" class="nav-link cursor inline">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://www.linkedin.com/company/themetrichq" class="nav-link cursor inline">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </li>
          <li class="nav-item hidden-md-down">
            <a class="nav-link">
              <i class="fa fa-search cursor" id="search-toggle" aria-hidden="true"></i>
              <%= form_tag articles_path, method: 'get', class: 'form-inline inline margin-0 my-2 my-lg-0 no-display', id: 'search-form' do %>
                <%= text_field_tag :search, params[:search], class: 'form-control mr-sm-2', type: "text", required: true, placeholder: 'Search' %>
              <% end %>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="<%=root_path%>">
                <span class="nav-hover">Home</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= about_path %>">
                <span class="nav-hover">About</span>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="articles-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="nav-hover">
                  Articles
                </span>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="articles-dropdown">
                <%= link_to 'All articles', articles_path, class: 'dropdown-item' %>
                <div class="flex-container">
                  <div class="flex">
                    <p class="bold dropdown-header black-text">REGIONS</p>
                    <div class="indent">
                      <%= link_to 'North America', region_path(:north_america), class: 'dropdown-item' %>
                      <%= link_to 'South America', region_path(:south_america), class: 'dropdown-item' %>
                      <%= link_to 'Europe', region_path(:europe), class: 'dropdown-item' %>
                      <%= link_to 'Middle East & North Africa', region_path(:middle_east_and_north_africa), class: 'dropdown-item' %>
                      <%= link_to 'Africa', region_path(:africa), class: 'dropdown-item' %>
                      <%= link_to 'Asia & Oceania', region_path(:asia_and_oceania), class: 'dropdown-item' %>
                    </div>
                  </div>
                  <div class="flex">
                    <p class="bold dropdown-header black-text">TOPICS</p>
                    <div class="indent">
                      <%= link_to 'Economics & Finance', topic_path(:economics_and_finance), class: 'dropdown-item' %>
                      <%= link_to 'Security', topic_path(:security), class: 'dropdown-item' %>
                      <%= link_to 'Politics', topic_path(:politics), class: 'dropdown-item' %>
                      <%= link_to 'Science & Innovation', topic_path(:science_and_innovation), class: 'dropdown-item' %>
                      <%= link_to 'Culture', topic_path(:culture), class: 'dropdown-item' %>
                      <%= link_to 'Opinion', topic_path(:opinion), class: 'dropdown-item' %>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= new_contact_path %>">
                <span class="nav-hover">Contact us</span>
              </a>
            </li>
            <% if not current_admin.nil? %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbar-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="nav-hover">
                    Admin
                  </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-dropdown">
                  <%= link_to new_article_path, class: 'dropdown-item' do %>
                    <i class="fa fa-fw fa-plus"></i> New article
                  <% end %>
                  <%= link_to current_admin, class: 'dropdown-item' do %>
                    <i class="fa fa-fw fa-user"></i> View profile
                  <% end %>
                  <%= link_to edit_admin_path(current_admin), class: 'dropdown-item' do %>
                    <i class="fa fa-fw fa-pencil"></i> Edit profile
                  <% end %>
                  <%= link_to info_path, class: 'dropdown-item' do %>
                    <i class="fa fa-fw fa-info"></i> Admin info
                  <% end %>
                  <%= link_to emails_path, class: 'dropdown-item' do %>
                    <i class="fa fa-fw fa-envelope"></i> Email list
                  <% end %>
                  <% if current_admin.super or current_admin.id == 1 %>
                    <%= link_to referrals_path, class: 'dropdown-item' do %>
                      <i class="fa fa-fw fa-check-circle-o"></i> Referrals
                    <% end %>
                  <% end %>
                  <%= link_to destroy_admin_session_path, method: :delete, class: 'dropdown-item' do %>
                    <i class="fa fa-fw fa-sign-out"></i> Sign out
                  <% end %>
                </div>
              </li>
            <% end %>
        </ul>
      </div>
  </nav>
</div>

<div class="full-width">
  <div class="alert-spacer hidden"></div>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded top" id="top">
    <a class="navbar-brand" href="<%= root_path %>">
      The Metric
    </a>
  </nav>
</div>

<script type="text/javascript">
  function searchListen() {
    var active = false;
    var $toggle = $('#search-toggle');
    var $form = $('#search-form');
    var $search = $('#search');
    var $icon = $toggle.find('.fa');
    $toggle.click(function() {
      if (!active) {
        $icon.removeClass('fa-search').addClass('fa-times');
        $form.removeClass('no-display');
        $search.focus();
      } else {
        $icon.addClass('fa-search').removeClass('fa-times');
        $form.addClass('no-display');
      }
      active = !active;
    });
  }

  function scrollingNav() {
    var $nav = $('.navbar-collapse');
    var h1 = $(window).height();
    var h2 = $nav.height();
    console.log(h1);
    console.log(h2);
    if (h1 < h2 + 82) {
      console.log('true!!');
      $nav.css('overflow-y', 'scroll');
    } else {
      $nav.css('overflow-y', 'visible');
    }
  }

  $(document).ready(function() {
    searchListen();
    scrollingNav();

    // Listeners for changes in nav height
    $('.navbar-toggler').click(function() {
      setTimeout(function () {
        scrollingNav();
      }, 200);
    });

    // Listeners for changes in nav height
    $('#articles-dropdown').click(function() {
      setTimeout(function () {
        scrollingNav();
      }, 100);
    });
  });
</script>
