<div id="navbar-spacer"></div>
<div id="navbar-wrapper">
  <div class="alert-spacer hidden"></div>
  <nav id="navbar">
    <a class="logo" href="<%= root_path %>">
      <%= image_tag 'logo.svg' %>
    </a>
    <div id="menu">
      <div id="social">
        <a href="https://www.facebook.com/TheMetricHQ/">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="https://www.linkedin.com/company/themetrichq">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
      </div>

      <div id="search">
        <%= form_tag articles_path, method: 'get', class: 'form-inline inline', id: 'search-form' do %>
          <%= text_field_tag :search, params[:search], class: 'form-control', type: "text", required: true, placeholder: 'Search' %>
        <% end %>
      </div>

      <%= render 'shared/nav/links' %>
    </div>
  </nav>
</div>

<script type="text/javascript">
  function scrollingNav() {
    var $nav = $('.navbar-collapse');
    var h1 = $(window).height();
    var h2 = $nav.height();
    if (h1 < h2 + 82) {
      $nav.css('overflow-y', 'scroll');
    } else {
      $nav.css('overflow-y', 'visible');
    }
  }

  $(document).ready(function() {
    scrollingNav();

    // Listeners for changes in nav height
    $('.navbar-toggler').click(function() {
      setTimeout(function () {
        scrollingNav();
      }, 200);
    });

    // Listeners for changes in nav height
    $('#articles-dropdown').click(function() {
      setTimeout(function () {
        scrollingNav();
      }, 100);
    });
  });
</script>
