<div id="navbar-wrapper">
  <div class="alert-spacer hidden"></div>
  <nav id="navbar">
    <a class="logo" href="<%= root_path %>">
      <%= image_tag 'logo.svg' %>
    </a>
    <div id="menu">
      <div id="social">
        <a href="https://www.facebook.com/TheMetricHQ/">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="https://www.linkedin.com/company/themetrichq">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
      </div>

      <div id="search">
        <%= form_tag articles_path, method: 'get', class: 'form-inline inline', id: 'search-form' do %>
          <%= text_field_tag :search, params[:search], class: 'form-control', type: "text", required: true, placeholder: 'Search' %>
        <% end %>
      </div>

      <div id="links">
        <a href="<%=root_path%>">
          Home
        </a>
        <a href="<%= about_path %>">
          About
        </a>
        <a
          class="dropdown-toggle"
          href=""
          id="articles-dropdown"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          Articles
        </a>
        <div
          class="dropdown-menu dropdown-menu-right"
          aria-labelledby="articles-dropdown">
          <%= link_to 'All articles', articles_path, class: 'dropdown-item' %>
          <div class="flex-container">
            <div class="flex">
              <p class="bold dropdown-header black-text">REGIONS</p>
              <div class="indent">
                <%= link_to 'North America', region_path(:north_america), class: 'dropdown-item' %>
                <%= link_to 'Latin America', region_path(:latin_america), class: 'dropdown-item' %>
                <%= link_to 'Europe', region_path(:europe), class: 'dropdown-item' %>
                <%= link_to 'Middle East & North Africa', region_path(:middle_east_and_north_africa), class: 'dropdown-item' %>
                <%= link_to 'Africa', region_path(:africa), class: 'dropdown-item' %>
                <%= link_to 'Asia & Oceania', region_path(:asia_and_oceania), class: 'dropdown-item' %>
              </div>
            </div>
            <div class="flex">
              <p class="bold dropdown-header black-text">TOPICS</p>
              <div class="indent">
                <%= link_to 'Economics & Finance', topic_path(:economics_and_finance), class: 'dropdown-item' %>
                <%= link_to 'Security', topic_path(:security), class: 'dropdown-item' %>
                <%= link_to 'Politics', topic_path(:politics), class: 'dropdown-item' %>
                <%= link_to 'Science & Innovation', topic_path(:science_and_innovation), class: 'dropdown-item' %>
                <%= link_to 'Culture', topic_path(:culture), class: 'dropdown-item' %>
                <%= link_to 'Opinion', topic_path(:opinion), class: 'dropdown-item' %>
              </div>
            </div>
          </div>
        </div>
        <a href="<%= new_contact_path %>">
          Contact us
        </a>
        <% if not current_admin.nil? %>
          <a class="dropdown-toggle" href="" id="navbar-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Admin
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-dropdown">
            <%= link_to new_article_path, class: 'dropdown-item' do %>
              <i class="fa fa-fw fa-plus"></i> New article
            <% end %>
            <%= link_to current_admin, class: 'dropdown-item' do %>
              <i class="fa fa-fw fa-user"></i> View profile
            <% end %>
            <%= link_to edit_admin_path(current_admin), class: 'dropdown-item' do %>
              <i class="fa fa-fw fa-pencil"></i> Edit profile
            <% end %>
            <%= link_to info_path, class: 'dropdown-item' do %>
              <i class="fa fa-fw fa-info"></i> Admin info
            <% end %>
            <%= link_to emails_path, class: 'dropdown-item' do %>
              <i class="fa fa-fw fa-envelope"></i> Email list
            <% end %>
            <%= link_to admins_path, class: 'dropdown-item' do %>
              <i class="fa fa-fw fa-list"></i> Admins
            <% end %>
            <% if current_admin.super or current_admin.id == 1 %>
              <%= link_to referrals_path, class: 'dropdown-item' do %>
                <i class="fa fa-fw fa-check-circle-o"></i> Referrals
              <% end %>
            <% end %>
            <%= link_to destroy_admin_session_path, method: :delete, class: 'dropdown-item' do %>
              <i class="fa fa-fw fa-sign-out"></i> Sign out
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </nav>
</div>

<script type="text/javascript">
  function scrollingNav() {
    var $nav = $('.navbar-collapse');
    var h1 = $(window).height();
    var h2 = $nav.height();
    if (h1 < h2 + 82) {
      $nav.css('overflow-y', 'scroll');
    } else {
      $nav.css('overflow-y', 'visible');
    }
  }

  $(document).ready(function() {
    scrollingNav();

    // Listeners for changes in nav height
    $('.navbar-toggler').click(function() {
      setTimeout(function () {
        scrollingNav();
      }, 200);
    });

    // Listeners for changes in nav height
    $('#articles-dropdown').click(function() {
      setTimeout(function () {
        scrollingNav();
      }, 100);
    });
  });
</script>
