<div class="container-fluid">
  <div class="row pad-0">
    <div class="col-12 col-xl-9 pad-0">
      <% if @feature %>
        <%= link_to @feature do %>
          <div class="background-image feature" style="background-image: URL(<%= @feature.image.url(:large) if (not @feature.image_file_name.nil? and not @feature.image.nil?) %>)">
            <div class="content">
              <% if @feature.title %>
                <h1 class="title">
                  <%= @feature.title %>
                </h1>
              <% end %>
              <div class="space-0"></div>
              <% if @feature.subtitle %>
                <h2 class="subtitle">
                  <%= @feature.subtitle %>
                </h2>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
      <% if @region %>
        <div class="light-light-gray">
          <div class="space-1"></div>
          <div class="container-fluid">
            <% if @region and @region.length > 0 %>
              <p class="text-muted bold full-width marg-bot-1">
                AROUND THE WORLD
              </p>
              <div class="card-columns articles">
                <% @region.each do |a| %>
                    <%= link_to a do %>
                      <div class="card article">
                        <%= render a %>
                      </div>
                    <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="space-2"></div>
        </div>
      <% end %>
    </div>
    <!-- closing left col -->
    <div class="col-12 col-xl-3 pad-top-1 light-gray full-height">
      <% if @global and @global.length > 0 %>
        <p class="text-muted bold full-width marg-bot-1">
          GLOBAL TAKES
        </p>
        <% @global.each do |article| %>
          <%= link_to article do %>
            <!-- article image -->
            <% if not article.image.nil? and not article.image_file_name.nil? %>
              <%= image_tag article.image.url(:medium), class: 'img-fluid full-width marg-bot-1' %>
            <% end %>

            <!-- article title and subtitle -->
            <h1 class="sans title smaller"><%= article.title %></h1>
            <h2 class="subtitle smaller"><%= article.subtitle %></h2>
            <% unless article == @global.last %>
              <div class="line-1"></div>
            <% end %>
          <% end %>
          <!-- closing link to article -->
        <% end %>
        <!-- close looping over global -->
      <% end %>
      <!-- close checking for global -->

      <div class="space-2"></div>

      <% if @more_global and @more_global.length > 0 %>
        <p class="full-width bold text-muted">
          READ MORE
        </p>

        <% @more_global.each do |article| %>
          <%= link_to article do %>
            <h3 class="bold">
              <%= article.title %>
            </h3>
            <% unless article == @more_global.last %>
              <div class="line-1"></div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <div class="space-2"></div>
    </div>
    <!-- closing right col -->
  </div>
</div>
