<% if @feature %>
  <%= link_to @feature do %>
    <div class="background-image parallax feature" style="background-image: URL(<%= @feature.image.url(:large) if (not @feature.image_file_name.nil? and not @feature.image.nil?) %>)">
      <div class="content">
        <% if @feature.title %>
          <h1 class="title">
            <%= @feature.title %>
          </h1>
        <% end %>
        <% if @feature.subtitle %>
          <h2 class="serif subtitle">
            <%= @feature.subtitle %>
          </h2>
        <% end %>

      </div>
    </div>
  <% end %>
<% end %>

<div class="container marg-bot-2">
  <div class="row">
    <div class="col-12">
      <div class="popup black">
        <i class="fa fa-lg fa-times x"></i>
        <h1 class="special marg-bot-1">
          Welcome to the Youth Journal
        </h1>
        <p>
          We aim to make news interactive, informative, and actionable. Through a global network of young, dedicated talent, we try to collect the right resources and information to accomplish this aim.
        </p>
      </div>

      <div class="space-1"></div>

      <% if @three and @three.length > 0 %>
        <div class="row">
          <% @three.each do |article| %>
            <div class="col-12 col-md-4">
              <%= link_to article do %>
                <div class="three">
                  <% if not article.image.nil? and not article.image_file_name.nil? %>
                    <%= link_to article do %>
                      <%= image_tag article.image.url(:medium), class: 'img-fluid full-width marg-bot-1' %>
                    <% end %>
                  <% end %>

                  <!-- article title and subtitle -->
                  <div class="content">
                    <h1 class="sans title smaller"><%= article.title %></h1>
                    <h2 class="subtitle smaller"><%= article.subtitle %></h2>
                  </div>
                </div>
                <!-- closing three -->
              <% end %>
              <!-- closing link to article -->
            </div>
            <!-- closing col -->
          <% end %>
          <!-- close looping over three -->
        </div>
        <!-- closing row -->
      <% end %>
      <!-- close checking for three -->

      <div class="space-2"></div>

      <%= link_to articles_path do %>
        <div class="btn-black">
          View all articles <i class="fa fa-chevron-right"></i>
        </div>
      <% end %>
      <div class="space-2"></div>
    </div>
    <!-- closing col -->
  </div>
  <!-- closing row -->
</div>
<!-- closing container -->
