<div class="popup black">
  <i class="fa fa-lg fa-times x"></i>
  <h1 class="special marg-bot-1">
    Welcome to the Youth Journal
  </h1>
  <p>
    We aim to make news interactive, informative, and actionable. Through a global network of young, dedicated talent, we try to collect the right resources and information to accomplish this aim.
  </p>
  <div class="space-1"></div>
  <%= link_to 'Learn more about us', about_path, class: 'btn-white' %>
</div>

<div class="container-fluid">
  <div class="row pad-0">
    <div class="col-12 col-md-8 pad-0">
      <% if @feature %>
        <%= link_to @feature do %>
          <div class="background-image parallax feature" style="background-image: URL(<%= @feature.image.url(:large) if (not @feature.image_file_name.nil? and not @feature.image.nil?) %>)">
            <div class="content">
              <% if @feature.title %>
                <h1 class="title">
                  <%= @feature.title %>
                </h1>
              <% end %>
              <div class="space-0"></div>
              <% if @feature.subtitle %>
                <h2 class="serif subtitle">
                  <%= @feature.subtitle %>
                </h2>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
      <% if @eight %>
        <div class="container-fluid">
          <div class="row eight">
            <% @eight.each do |a| %>
              <div class="col-6">
                <%= link_to a do %>
                  <div class="card">
                    <% if not a.image_file_name.nil? and not a.image.nil? %>
                      <div class="card-img-top">
                        <img src="<%= a.image.url(:medium) %>" alt="<%= a.title %>" class="full-width">
                      </div>
                    <% end %>
                    <div class="card-block">
                      <h2 class="bold"><%= a.title %></h2>
                      <h4 class="serif"><%= a.subtitle %></h4>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <!-- closing left col -->
    <div class="col-12 col-md-4 pad-top-1 light-gray">
      <% if @three and @three.length > 0 %>
        <% @three.each do |article| %>
          <%= link_to article do %>
            <!-- article image -->
            <% if not article.image.nil? and not article.image_file_name.nil? %>
              <%= image_tag article.image.url(:medium), class: 'img-fluid full-width marg-bot-1' %>
            <% end %>

            <!-- article title and subtitle -->
            <h1 class="sans title smaller"><%= article.title %></h1>
            <h2 class="subtitle smaller"><%= article.subtitle %></h2>
            <% unless article == @three.last %>
              <div class="line-1"></div>
            <% end %>
          <% end %>
          <!-- closing link to article -->
        <% end %>
        <!-- close looping over three -->
      <% end %>
      <!-- close checking for three -->
    </div>
    <!-- closing right col -->
  </div>
</div>

<div class="container marg-bot-2">
  <div class="row">
    <div class="col-12">
      <div class="space-2"></div>

      <%= link_to articles_path do %>
        <div class="btn-black">
          View all articles <i class="fa fa-chevron-right"></i>
        </div>
      <% end %>
      <div class="space-2"></div>
    </div>
    <!-- closing col -->
  </div>
  <!-- closing row -->
</div>
<!-- closing container -->
