<!--
  The homepage of the application
-->
<div class="container-fluid">
  <div class="row pad-0">
    <div class="col-12 col-xl-9 pad-0 light-light-gray">
      <!-- Render the featured article if there is one -->
      <% if @feature %>
        <%= link_to @feature do %>
          <div class="background-image feature" style="background-image: URL(<%= @feature.image.url(:large) if (not @feature.image_file_name.nil? and not @feature.image.nil?) %>)">
            <div class="content">
              <div class="space-2 hidden-md-down"></div>
              <% if @feature.title %>
                <h1 class="title">
                  <%= @feature.title %>
                </h1>
              <% end %>
              <div class="space-0"></div>
              <% if @feature.subtitle %>
                <h2 class="subtitle serif">
                  <%= @feature.subtitle %>
                </h2>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="space-1"></div>

      <!-- Render additional articles in the main panel of the page -->
      <div class="container-fluid">
        <% if @articles and @articles.length > 0 %>
          <p class="text-muted bold full-width marg-bot-1">
            AROUND THE WORLD
          </p>
          <div class="card-columns articles two-columns">
            <% @articles.each do |a| %>
                <%= link_to a do %>
                  <div class="card article">
                    <%= render a %>
                  </div>
                <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="space-2"></div>
    </div>
    <!-- closing left col -->

    <!-- Render the most read articles on the right sidebar -->
    <div class="col-12 col-xl-3 pad-top-1 light-gray full-height">
      <% if @popular and @popular.length > 0 %>
        <p class="text-muted bold full-width marg-bot-1">
          MOST READ
        </p>
        <div class="row">
          <% @popular.each do |article| %>
            <div class="col-12 col-md-6 col-xl-12">
              <%= link_to article do %>
                <!-- article image -->
                <% if not article.image.nil? and not article.image_file_name.nil? %>
                  <!-- if the article is an opinion piece -->
                  <% if article.opinion? %>
                    <div class="opinion absolute special read-more">
                      OPINION
                    </div>
                  <% end %>

                  <!-- render the image -->
                  <%= image_tag article.image.url(:large), class: 'img-fluid full-width marg-bot-1' %>
                <% end %>

                <!-- article title and subtitle -->
                <h1 class="sans title smaller"><%= article.title %></h1>
                <h2 class="subtitle smaller serif"><%= article.subtitle %></h2>
                <% unless article == @popular.last %>
                  <div class="line-1"></div>
                <% end %>
              <% end %>
              <!-- closing link to article -->
            </div>
            <!-- closing col -->
          <% end %>
          <!-- close looping over global -->
        </div>
        <!-- closing row -->
      <% end %>
      <!-- close checking for global -->

      <div class="space-2"></div>

      <!-- If there are even more articles to show, show them here -->
      <% if @more_popular and @more_popular.length > 0 %>
        <p class="full-width bold text-muted">
          READ MORE
        </p>
        <div class="row">
          <% @more_popular.each do |article| %>
            <div class="col-12 col-md-6 col-xl-12">
              <%= link_to article do %>
                <h3 class="bold">
                  <%= article.title %>
                </h3>
                <% unless article == @more_popular.last %>
                  <div class="line-1"></div>
                <% end %>
              <% end %>
            </div>
            <!-- closing col -->
          <% end %>
        </div>
        <!-- closing row -->
      <% end %>
    </div>
    <!-- closing right col -->
  </div>
</div>
