<% if @feature %>
  <div class="dark">
    <div class="space-1"></div>
    <div class="container">
      <%= link_to @feature do %>
        <% url = (not @feature.image_file_name.nil? and not @feature.image.nil?) ? @feature.image.url(:large) : '' %>
        <div class="background-image feature" style="background-image: url(<%= url %>)">
          <div class="metric-gradient">
            <div class="content-wrapper">
              <div class="content">
                <div class="space-3 hidden-md-down"></div>
                <div class="space-2 hidden-lg-down"></div>
                <% if @feature.title %>
                  <h1 class="title serif">
                    <%= @feature.title %>
                  </h1>
                <% end %>
                <div class="space-0"></div>
                <% if @feature.subtitle %>
                  <h2 class="subtitle serif">
                    <%= @feature.subtitle %>
                  </h2>
                <% end %>
                <% r = @feature.regionText %>
                <% if r and r.length > 0 %>
                  <p class="white-text special caps">
                    <%= r %>
                  </p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="light-gray section">
  <div class="container">
    <!-- Render additional articles in the main panel of the page -->
    <% if @articles and @articles.length > 0 %>
      <p class="section-title">
        Around the World
      </p>

      <%= render 'shared/articles', articles: @articles %>
    <% end %>
  </div>
</div>

<div class="light-gray section">
  <div class="container">
    <% if @popular and @popular.length > 0 %>
      <p class="section-title">
        Most Read
      </p>

      <%= render 'shared/articles', articles: @popular %>
    <% end %>
  </div>
</div>

<div class="light-gray section">
  <div class="container">
    <% if @more_popular and @more_popular.length > 0 %>
      <p class="section-title">
        Read More
      </p>

      <%= render 'shared/articles', articles: @more_popular %>
    <% end %>
  </div>

  <div class="center">
    <%= link_to articles_path, class: 'btn btn-black white-text shade-3 hover marg-bot-1' do %>
      View all articles &nbsp;&rarr;
    <% end %>
  </div>
</div>
