<!--
  The homepage of the application
-->
<% if @feature %>
  <div class="dark">
    <div class="space-1"></div>
    <div class="container-fluid">
      <%= link_to @feature do %>
        <div class="background-image feature" style="background-image: URL(<%= @feature.image.url(:large) if (not @feature.image_file_name.nil? and not @feature.image.nil?) %>)">
          <div class="metric-gradient">
            <div class="content-wrapper">
              <div class="content">
                <div class="space-3 hidden-md-down"></div>
                <div class="space-2 hidden-lg-down"></div>
                <% if @feature.title %>
                  <h1 class="title serif">
                    <%= @feature.title %>
                  </h1>
                <% end %>
                <div class="space-0"></div>
                <% if @feature.subtitle %>
                  <h2 class="subtitle serif">
                    <%= @feature.subtitle %>
                  </h2>
                <% end %>
                <% r = @feature.regionText %>
                <% if r and r.length > 0 %>
                  <p class="white-text special caps">
                    <%= r %>
                  </p>
                <% end %>
              </div>
            </div>

            <%= render '/shared/bar' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="light-gray section">
  <div class="container-fluid">
    <!-- Render additional articles in the main panel of the page -->
    <% if @articles and @articles.length > 0 %>
      <p class="section-title">
        Around the World
      </p>

      <div class="card-columns articles two-columns">
        <% @articles.each do |a| %>
          <%= link_to a do %>
            <!-- <div class="card article"> -->
              <%= render a %>
            <!-- </div> -->
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="light-gray section">
  <div class="container-fluid">
    <% if @popular and @popular.length > 0 %>
      <p class="section-title">
        Most Read
      </p>

      <div class="card-columns articles two-columns">
        <% @popular.each do |a| %>
          <%= link_to a do %>
            <!-- <div class="card article"> -->
              <%= render a %>
            <!-- </div> -->
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="light-gray section">
  <div class="container-fluid">
    <% if @more_popular and @more_popular.length > 0 %>
      <p class="section-title">
        Read More
      </p>

      <div class="card-columns articles two-columns">
        <% @more_popular.each do |a| %>
          <%= link_to a do %>
            <!-- <div class="card article"> -->
              <%= render a %>
            <!-- </div> -->
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
