<head>
  <title>Youth Journal | Log In</title>
</head>

<div class="container marg-top-2 marg-bot-2">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <h2>Log in</h2>
      <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field special-label">
        <%= f.email_field :email, label_class: 'hasVal active', autofocus: true, required: true %>
      </div>

      <div class="field special-label">
        <%= f.password_field :password, autocomplete: "off", required: true %>
      </div>

      <% if devise_mapping.rememberable? -%>
      <div class="field marg-bot-1">
        <%= f.check_box :remember_me %>
      </div>
      <% end -%>

      <%= button_tag(type: 'submit', class: "btn-black") do %>
      Log in
      <% end %>
      <% end %>

      <div class="space-1"></div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
