<div id="links">
  <a href="<%=root_path%>" class="link">
    Home
  </a>
  <a href="<%= about_path %>" class="link">
    About
  </a>

  <%= render '/shared/nav/articles-dropdown' %>

  <a href="<%= new_contact_path %>" class="link">
    Contact us
  </a>
  <% if not current_admin.nil? %>
    <%= render '/shared/nav/admin-dropdown' %>
  <% end %>
</div>
