<!DOCTYPE html>
<html>
  <head>
    <!-- meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Youth Journal">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= content_for?(:description) ? content_for(:description) : 'The Youth Journal strives to make news accessible, opinionated, diversified, and progressive.' %>">
    <meta name="keywords" content="<%= content_for?(:keywords) ? content_for(:keywords) : 'Youth, Journal, news' %>">

    <!-- open graph -->
    <meta property="og:image" content="<%= content_for?(:image) ? content_for(:image) : '' %>">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= content_for?(:title) ? content_for(:title) : 'Youth Journal' %>">
    <meta property="og:description" content="<%= content_for?(:description) ? content_for(:description) : 'The Youth Journal strives to make news accessible, opinionated, diversified, and progressive.' %>">
    <meta property="og:site_name" content="">

    <!-- twitter -->
    <meta name="twitter:card" content="summary"/>
    <meta property="og:url" content=""/>
    <meta property="og:title" content="<%= content_for?(:title) ? content_for(:title) : 'Youth Journal' %>"/>
    <meta property="og:description" content="<%= content_for?(:description) ? content_for(:description) : 'The Youth Journal strives to make news accessible, opinionated, diversified, and progressive.' %>"/>
    <meta property="og:image" content="<%= content_for?(:image) ? content_for(:image) : '' %>"/>

    <!-- title and other tags -->
    <title><%= content_for?(:title) ? content_for(:title) : "Youth Journal" %></title>
    <%= csrf_meta_tags %>

    <!-- fonts -->
    <script src="https://use.fontawesome.com/297cffcc6b.js"></script>
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700|Palanquin+Dark" rel="stylesheet">

    <!-- styles -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <% if notice or alert %>
    <div class="row hidden" id="alert-container">
      <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <% if notice %>
        <div class="info" role="alert">
          <p class="notice"><%=notice%></p>
        </div>
        <% end %>
        <% if alert %>
        <div class="danger" role="alert">
          <p class="alert"><%=alert%></p>
        </div>
        <% end %>
      </div>
    </div>
    <% end %>

    <div class="page-content">
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>

    <% if notice or alert %>
    <script>
      $(document).ready(function () {
        $('#alert-container').delay(200).slideDown(200).delay(5000).slideUp(200);
      });
    </script>
    <% end %>

    <script type="text/javascript">
      document.addEventListener('turbolinks:load', function (event) {
        if (typeof ga === 'function') {
          ga('set', 'location', event.data.url);
          ga('send', 'pageview');
        }
      });
    </script>

    <!-- autosize -->
    <script src="https://cdn.jsdelivr.net/jquery.autosize/3.0.20/autosize.min.js"></script>

    <!-- initialize autosize on all textarea components -->
    <script type="text/javascript">
      autosize($('textarea'));
    </script>
  </body>
</html>
