<!DOCTYPE html>
<html>
  <head>
    <!-- meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="The Metric">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% description = content_for?(:description) ? content_for(:description) : "Measuring what's happening around the world through your voice" %>
    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="<%= content_for?(:keywords) ? content_for(:keywords) : 'metric,themetric,metric,progressive,student,young,diverse,youth,international,politcs,current affairs,foreign pollicy,foreign affairs,ecnomics' %>">

    <!-- open graph -->
    <meta property="og:image" content="<%= content_for?(:image) ? content_for(:image) : 'https://i.imgur.com/AcbOq2u.png' %>">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= content_for?(:title) ? content_for(:title) : 'The Metric' %>">
    <meta property="og:description" content="<%= content_for?(:description) ? content_for(:description) : 'The Metric strives to make news accessible, opinionated, diversified, and progressive.' %>">
    <meta property="og:site_name" content="The Metric">

    <!-- twitter -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta property="og:url" content="themetric.org"/>
    <meta property="og:title" content="<%= content_for?(:title) ? content_for(:title) : 'The Metric' %>"/>
    <meta property="og:description" content="<%= content_for?(:description) ? content_for(:description) : 'The Metric strives to make news accessible, opinionated, diversified, and progressive.' %>"/>
    <meta property="og:image" content="<%= content_for?(:image) ? content_for(:image) : 'https://i.imgur.com/AcbOq2u.png' %>"/>

    <!-- title and other tags -->
    <title><%= content_for?(:title) ? content_for(:title) : "The Metric" %></title>
    <%= csrf_meta_tags %>

    <!-- fonts -->
    <script src="https://use.fontawesome.com/297cffcc6b.js"></script>
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700|Palanquin+Dark" rel="stylesheet">

    <!-- styles -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- favicon -->
    <%= render 'application/favicon' %>
    <%= favicon_link_tag 'favicon/favicon.ico' %>
  </head>

  <body>

    <% if notice or alert %>
    <div id="alert-container" class="hidden <%= notice ? 'green' : 'red' %>">
      <% if notice %>
      <div class="info" role="alert">
        <p><%=notice%></p>
      </div>
      <% end %>
      <% if alert %>
      <div class="danger" role="alert">
        <p><%=alert%></p>
      </div>
      <% end %>
    </div>
    <% end %>

    <%= render 'shared/header' %>

    <div class="page-content">
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>

    <% if notice or alert %>
    <script>
      $(document).ready(function () {
        // Variables
        var $spacer = $('.alert-spacer');
        var $container = $('#alert-container')

        // Transitions
        $container.delay(200).slideDown(200).delay(4000).slideUp(200);
        $spacer.delay(200).slideDown(200).delay(4000).slideUp(200);
      });
    </script>
    <% end %>

    <script type="text/javascript">
      $('.x').click(function() {
        $('.popup').slideUp(200);
      });
    </script>

    <script type="text/javascript">
      document.addEventListener('turbolinks:load', function(event) {
        if ((typeof ga) === 'function') {
          ga('set', 'location', event.data.url);
          ga('send', 'pageview');
        }
      });
    </script>

    <!-- autosize -->
    <script src="https://cdn.jsdelivr.net/jquery.autosize/3.0.20/autosize.min.js"></script>

    <!-- initialize autosize on all textarea components -->
    <script type="text/javascript">
      autosize($('textarea'));
    </script>

    <%= javascript_include_tag 'special-label.js' %>

    <% if Rails.env.production? %>
      <!-- google analytics -->
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-105813969-1', 'auto');
        ga('send', 'pageview');
      </script>
    <% end %>
  </body>
</html>
